$def with(data)
<html>
    <head>
    <meta charset="UTF-8">
    <title>Hogares</title>
    </head>
    
    <body style="background-color:#1976D2;color:white">
    
        <h1 align="center" style="color:white">Hogares</h1>
        <p>Esta pagina sirve como referencia para poder conocer la proyeccion de hogares indigenas por estado</p>
    <br>        
           <input name="estado" type="text" value="Ingresa el estado que deseas conocer la informacion" />
           <button type="submit" style="border-radius: 10px;width: 230px;height:50px;align=center;background-color:#FF8F00"><a href="mapa">Consultar mapa</a></button>
            <table align="center" border="1px" style="background-color:grey">
                <tr>
                    <td style="border:1px solid white">Anio</td>
                    <td style="border:1px solid white">Entidad</td>
                    <td style="border:1px solid white">Jefatura</td>
                    <td style="border:1px solid white">Hogares</td>
                </tr>
                $for row in data:
                <tr>
                    <td style="width:300px ">$row[1]</td>
                    <td style="width:200px ">$row[2]</td>
                    <td style="width:100px ">$row[5]</td>
                    <td style="width:100px ">$row[6]</td>
                </tr>
                </table>
</body>
    
</html>